.bgContainer {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0.022;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	pointer-events: none;
	height: 100vh;
}

.heroSmallTitle {
	@apply flex;
	user-select: none;
}

.heroTitle {
	@apply uppercase text-text font-GT;
	user-select: none;
}
.heroTitle.heroLargeTitle {
	@apply font-bold text-[6.5em] leading-[4.5rem];
	user-select: none;
}

.heroEndSmallTitle {
	@apply flex justify-end;
	user-select: none;
}

.bgContainer > span {
	font-family: 'GT Eesti Pro Display', sans-serif;
	font-weight: bold;
	font-size: 22vw;
	line-height: 75%;
	text-transform: uppercase;
	color: var(--light-text);
	user-select: none;
}

.heroContainer {
	@apply flex items-center justify-center w-screen h-screen;
}

.heroTitleContainer {
	@apply flex flex-col gap-5;
}

/* @media screen and (max-width: 1024px) {
	.bgHeroDevelop,
	.bgHeroInnovate,
	.bgHeroDesign {
		font-size: 13.75rem;
	}
}
@media screen and (min-width: 1440px) {
	.bgHeroInnovate,
	.bgHeroDesign,
	.bgHeroDevelop {
		font-size: 24rem;
		background-color: red;
	}
} */
