@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'GT Eesti Pro Display';
	src: local('GT Eesti Pro Display UltraBold'),
		local('GTEestiProDisplay-UltraBold'),
		url('../src/fonts/GT-Eesti-Pro/GTEestiProDisplay-UltraBold.ttf')
			format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Display';
	src: local('GT Eesti Pro Display Bold'), local('GTEestiProDisplay-Bold'),
		url('../src/fonts/GT-Eesti-Pro/GTEestiProDisplay-Bold.ttf')
			format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'GT Eesti Pro Display';
	src: local('GT Eesti Pro Display Medium'), local('GTEestiProDisplay-Medium'),
		url('../src/fonts/GT-Eesti-Pro/GTEestiProDisplay-Medium.ttf')
			format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Display';
	src: local('GT Eesti Pro Display Regular'),
		local('GTEestiProDisplay-Regular'),
		url('../src/fonts/GT-Eesti-Pro/GTEestiProDisplay-Regular.ttf')
			format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GT Eesti Pro Display';
	src: local('GT Eesti Pro Display Light'), local('GTEestiProDisplay-Light'),
		url('../src/fonts/GT-Eesti-Pro/GTEestiProDisplay-Light.ttf')
			format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Groningen';
	src: url('Groningen-Regular.eot');
	src: local('Groningen Regular'), local('Groningen-Regular'),
		url('../src/fonts/Groningen/Groningen-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Groningen';
	src: url('Groningen-Thin.eot');
	src: local('Groningen Thin'), local('Groningen-Thin'),
		url('../src/fonts/Groningen/Groningen-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Groningen';
	src: url('Groningen-Light.eot');
	src: local('Groningen Light'), local('Groningen-Light'),
		url('../src/fonts/Groningen/Groningen-Thin.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Groningen';
	src: url('Groningen-Bold.eot');
	src: local('Groningen Bold'), local('Groningen-Bold'),
		url('../src/fonts/Groningen/Groningen-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

:root {
	font-family: 'Groningen', sans-serif;
	font-size: 16px;
	--light-text: #131113;
	--light-background: #f8f7f8;
	--light-primary: #645960;
	--light-secondary: #dad7d7;
	--light-accent: #796d6f;
	color-scheme: light dark;
	color: var(--light-text);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	background-image: url('/bgNoise.png');
	background-color: var(--light-background);
	overflow-x: hidden;
	margin: 0;
	width: 100%;
	height: 100%;
}
